body {
  font-size: 20pt;
   background-color: rgb(111, 38, 61);
   color: rgb(193, 198, 200);
}
button {
   color: rgb(111, 38, 61);
   background-color: rgb(193, 198, 200);
   padding: 2px;
}
p {
    background-color: rgb(35, 97, 146);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #999;
}